<div class="grid mt-5">

  <div class="col-8 w-full px-5 flex justify-content-between text-lg">
    <p class="my-0">
      Subtotal
    </p>

    <p class="my-0">{{ subTotal }}</p>
  </div>
  
  <div class="col-8 w-full px-5 flex justify-content-between text-lg">

    <p class="my-0">
      Shipping fees
    </p>

    <p class="my-0">precio</p>
  </div>

  <div class="col-8 w-full px-5 flex justify-content-between text-lg">

    <p class="my-0">
      Taxes
    </p>

    <p class="my-0">precio</p>
  </div>

  <div class="col-8 w-full px-5 flex justify-content-between text-lg font-bold">
    <p class="my-0">
      Total (including tax)
    </p>

    <p class="my-0">precio</p>
  </div>

</div>